openai
langchain
langchain-experimental
langchain_openai
presidio-anonymizer
presidio-analyzer
faiss-cpu
spacy
Faker
streamlit
python-dotenv
PyPDF2
pandas
pinecone-client
Pypdf
tiktoken
nemoguardrails
chromadb


-e .